.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    width: 200px;
    height: 50px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
}
